
  <h2>Add Snippet</h2>
  <form action="/code/add" method="post">
    <input type="text" name="title" placeholder="Snippet Title"/>
    <br/>
      <textarea type="textarea" name="body" placeholder="Your Snippet"></textarea>
      <br/>
    <input type="text" name="notes" placeholder="Notes"/>
    <br/>
    <input type="text" name="language" placeholder="Enter language"/>
    <br/>
    <input type="text" name="tag" placeholder="Tags Example: middleware, calulator, etc..."/>
    <br/>
    <input type="submit" value="Add Snippet"/>
  </form>
